html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100%;
  padding: 30px;
}

nav {
  height: 50px;
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#intro {
  height: 300px;
  width: 100%;
  background: gray;
  margin-bottom: 30px;
}

#box-div {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

#projects {
  background: gray;
}

.project-image {
  width: 200px;
  height: 100%;
}

.project {
  display: flex;
}

.box {
  flex: 1;
  width: 300px;
  width: 100%;
  padding: 10px;
  /* margin-right: 30px */
}

.box:not(:last-of-type) {
  margin-right: 30px;
}

/* .box:last-of-type { */
  /* margin: 0; */
/* } */



.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

@media only screen and (max-width: 600px) {
  #box-div {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin: 0 0 30px 0;
  }
  #projects {
    padding: 10px;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  #projects h1 {
    text-align: center;
  }

  .project-image {
    height: initial;
  }

}

@media only screen and (max-width: 300px) {
  body {
    background: yellowgreen;
  }
}
